@model ScrumToPractice.Domain.Models.CortesiaResultado

@{
    ViewBag.Title = "Results";
}

<h2>Result Test</h2>

<hr />

<div class="alert alert-info" role="alert">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <p>Total questions: @Model.TotalQuestoes</p>
                <p>Correct answers: @Model.RespostasCorretas</p>
                <p>Incorrect answers: @Model.RespostasErradas</p>
                <p>Passing score @Model.NotaMinima.ToString("N1") %</p>
                <p><strong>Your score: @Model.ResultadoAluno.ToString("N1") %</strong></p>
                <p><strong>Conclusion: @((bool)Model.Resultado == true ? "Pass!" : "Fail")</strong></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-xs-12 col-md-12">
            @Html.ActionLink("Try again", "Index", "Practice", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

@if (Model.RespostasErradas > 0)
{
    @Html.Partial("_Correcao", (IEnumerable<ScrumToPractice.Domain.Models.QuestaoCorrigida>)@Model.Correcao)
}