<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Scrum to practice</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Scrum To Practice", "Index", "Home", new { area = "" }, new { @class = "navbar-brand white" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Administrativo/Questao">Questões</a></li>
                    <li><a href="/Administrativo/Area">Áreas</a></li>
                    <li><a href="/Administrativo/Usuario">Usuários</a></li>
                    <li><a href="/Administrativo/Parametro">Parâmetros</a></li>
                    <li><a href="/Administrativo/Clientes">Clientes</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Paypal <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Administrativo/Paypal/ValorAssinaturaMensal">Preço assinatura</a></li>
                        </ul>
                    </li>
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="pull-right top15">
                        <span class="glyphicon glyphicon-user gray" aria-hidden="true"></span>
                        <span class="gray">@User.Identity.Name.ToUpper()</span>
                        <span class="left40"><a href="/Administrativo/Login/Logout" class="gray">Sair</a></span>                        
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ScrumToPractice.com</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>