@model ScrumToPractice.Domain.Models.Area

@{
    ViewBag.Title = "Área - excluir";
}

<h2>Área - excluir</h2>

<div class="text-danger">
    <h3>Confirma a exclusão desta área?</h3>
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
