@model ScrumToPractice.Domain.Models.QuestaoCortesia

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<div id="simulado" class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h4>
                @Model.NumQuestaoAtual - @Model.QuestaoUsuario.Questao.Descricao
            </h4>
        </div>
    </div>

    <div class="row top20">
        <div class="col-sm-12 col-md-12">
            @Html.HiddenFor(model => Model.QuestaoUsuario.Id)

            @if (@Model.QuestaoUsuario.Questao.MultiplaEscolha)
            {
                @:(Multiple-choice)
                @Html.Partial("_QuestaoUsuarioEscolhaMultipla", (IEnumerable<ScrumToPractice.Domain.Models.CorResposta>)@Model.QuestaoUsuario.RespostasUsuario)
            }
            else
            {
                @:(Select one)
                @Html.Partial("_QuestaoUsuarioEscolhaSimples", (IEnumerable<ScrumToPractice.Domain.Models.CorResposta>)@Model.QuestaoUsuario.RespostasUsuario)
            }
            <hr />
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-2">
                        <input id="btnPrevious" type="button" value="Previous" class="btn btn-primary" />
                    </div>
                    <div class="col-sm-6 col-md-8 text-right">
                        <input id="btnAnswerLater" type="button" value="Answer later" class="btn btn-primary" />
                        <input id="btnNext" type="button" value="Next" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $('#btnNext').click(function () {
            var alternativas = [];
            $('.alternativa').each(function () {
                if ($(this).is(':checked')) {
                    alternativas.push($(this).val());
                }
            });
            $.ajax({
                url: '/Practice/Practice/Proxima/',
                type: 'POST',
                dataType: 'json',
                data: { selecionadas: alternativas, idCortesia : @Model.QuestaoUsuario.IdCortesia, idQuestao : @Model.QuestaoUsuario.IdQuestao },
                success: function(data) {
                    //$('#simulado').html(data);
                }
            });
        });
    });
</script>