@using ScrumToPractice.Domain.Models;
@model  QuestaoCortesia

@Html.Hidden("idCortesia", (int)@Model.QuestaoUsuario.IdCortesia)
@Html.Hidden("idQuestao", (int)@Model.QuestaoUsuario.Id)

<div id="simulado">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h4>
                    @Model.NumQuestaoAtual - @Model.QuestaoUsuario.Questao.Descricao
                </h4>
            </div>
        </div>

        <div class="row top20">
            <div class="col-sm-12 col-md-12">

                @if (@Model.QuestaoUsuario.Questao.MultiplaEscolha)
                {
                    @:(Multiple-choice)
                    @Html.Partial("_QuestaoUsuarioEscolhaMultipla", (IEnumerable<ScrumToPractice.Domain.Models.CorResposta>)@Model.QuestaoUsuario.RespostasUsuario)
                }
                else
                {
                    @:(Select one)
                    @Html.Partial("_QuestaoUsuarioEscolhaSimples", (IEnumerable<ScrumToPractice.Domain.Models.CorResposta>)@Model.QuestaoUsuario.RespostasUsuario)
                }
                <hr />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            @Html.Hidden("idCortesia", (int)Model.QuestaoUsuario.IdCortesia)
            <div class="col-sm-6 col-md-2">
                <input id="btnPrevious" type="button" value="Previous" data-questao="@Model.QuestaoUsuario.Id" style='@(Model.PrimeiraQuestao ? "visibility:hidden" : "visibility:visible")' class="btn btn-primary" />
            </div>
            <div class="col-sm-6 col-md-10 text-right">
                <input id="btnAnswerLater" type="button" value="Answer later" data-questao="@Model.QuestaoUsuario.Id" class="btn btn-primary" style='@(Model.UltimaQuestao ? "visibility:hidden" : "visibility:visible")' />
                <input id="btnNext" type="button" value="Next" data-questao="@Model.QuestaoUsuario.Id" class="btn btn-primary" style='@(Model.UltimaQuestao ? "visibility:hidden" : "visibility:visible")' />
                <input id="btnFinish" type="button" value="Finish exam" data-questao="@Model.QuestaoUsuario.Id" class="btn btn-primary" style='@(Model.Concluir ? "visibility:visible" : "visibility:hidden")' />
            </div>
        </div>
    </div>
</div>

@if (@Model.QuestoesNaoRespondidas.Count() > 0)
{
    <hr />
    <div class="container">
        <div class="row">
            <h4>Marked for answer later</h4>
            <div class="col-sm-12 col-md-12">
                @foreach (CorSimulado item in Model.QuestoesNaoRespondidas)
                {
                    <p><button type="button" data-questao="@item.IdQuestao" class="btn btn-primary btn-xs answer">Answer</button> @item.Questao.Descricao</p>
                }
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Areas/Practice/Scripts/QuestaoCortesia.js"></script>