@using ScrumToPractice.Domain.Models;
@model  QuestaoCortesia

@Html.Hidden("idCortesia", (int)@Model.QuestaoUsuario.IdCortesia)
@Html.Hidden("idQuestao", (int)@Model.QuestaoUsuario.Id)

<div id="simulado">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h4>
                    @Model.NumQuestaoAtual - @Model.QuestaoUsuario.Questao.Descricao
                </h4>
            </div>
        </div>

        <div class="row top20">
            <div class="col-sm-12 col-md-12">

                @if (@Model.QuestaoUsuario.Questao.MultiplaEscolha)
                {
                    @:(Multiple-choice)
                    @Html.Partial("_QuestaoUsuarioEscolhaMultipla", (IEnumerable<ScrumToPractice.Domain.Models.CorResposta>)@Model.QuestaoUsuario.RespostasUsuario)
                }
                else
                {
                    @:(Select one)
                    @Html.Partial("_QuestaoUsuarioEscolhaSimples", (IEnumerable<ScrumToPractice.Domain.Models.CorResposta>)@Model.QuestaoUsuario.RespostasUsuario)
                }
                <hr />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            @Html.Hidden("idCortesia", (int)Model.QuestaoUsuario.IdCortesia)
            <div class="col-sm-6 col-md-2">
                <input id="btnPrevious" type="button" value="Previous" data-questao="@Model.QuestaoUsuario.Id" style='@(Model.PrimeiraQuestao ? "visibility:hidden" : "visibility:visible")' class="btn btn-primary" />
            </div>
            <div class="col-sm-6 col-md-10 text-right">
                <input id="btnAnswerLater" type="button" value="Answer later" data-questao="@Model.QuestaoUsuario.Id" class="btn btn-primary" style='@(Model.UltimaQuestao ? "visibility:hidden" : "visibility:visible")' />
                <input id="btnNext" type="button" value="Next" data-questao="@Model.QuestaoUsuario.Id" class="btn btn-primary" style='@(Model.UltimaQuestao ? "visibility:hidden" : "visibility:visible")' />
                <input id="btnFinish" type="button" value="Finish exam" data-questao="@Model.QuestaoUsuario.Id" class="btn btn-primary" style='@(Model.Concluir ? "visibility:visible" : "visibility:hidden")' />
            </div>
        </div>
    </div>
</div>

@if (@Model.QuestoesNaoRespondidas.Count() > 0)
{
    <hr />
    <div class="container">
        <div class="row">
            <h4>Marked for answer latter</h4>
            <div class="col-sm-12 col-md-12">
                @foreach (CorSimulado item in Model.QuestoesNaoRespondidas)
                {
                    <p><button type="button" data-questao="@item.IdQuestao" class="btn btn-primary btn-xs answer">Answer</button> @item.Questao.Descricao</p>
                }
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        // grava atual e exibe proxima questao
        $('#btnNext').click(function () {
            var alternativas = [];
            var idCortesia = parseInt($('#idCortesia').val());
            var idQuestao = parseInt($(this).data("questao"));

            $('.alternativa').each(function () {
                if ($(this).is(':checked')) {
                    alternativas.push(parseInt($(this).val()));
                }
            });

            $.ajax({
                traditional: true,
                type: 'GET',
                url: '/Practice/Practice/Proxima/',
                data: { selecionadas: alternativas, idCortesia: idCortesia, idQuestao: idQuestao },
                success: function (data) {
                    $('#simulado').html(data);
                },
                error: function (request, status, error) {
                    alert(error);
                }
            });
        });

        // grava atual e exibe questao anterior
        $('#btnPrevious').click(function () {
            var alternativas = [];
            var idCortesia = parseInt($('#idCortesia').val());
            var idQuestao = parseInt($(this).data("questao"));

            $('.alternativa').each(function () {
                if ($(this).is(':checked')) {
                    alternativas.push(parseInt($(this).val()));
                }
            });

            $.ajax({
                traditional: true,
                type: 'GET',
                url: '/Practice/Practice/Anterior/',
                data: { selecionadas: alternativas, idCortesia: idCortesia, idQuestao: idQuestao },
                success: function (data) {
                    $('#simulado').html(data);
                },
                error: function (request, status, error) {
                    alert(error);
                }
            });
        });

        // grava atual e finaliza o simulado e redireciona para resultado
        $('#btnFinish').click(function () {
            var alternativas = [];
            $('.alternativa').each(function () {
                if ($(this).is(':checked')) {
                    alternativas.push(parseInt($(this).val()));
                }
            });

            var idCortesia = parseInt($('#idCortesia').val());
            var idQuestao = parseInt($(this).data("questao"));
            var data = { selecionadas: alternativas, idCortesia: idCortesia, idQuestao: idQuestao };
            var url = '/Practice/Practice/Finish/';

            $.post(url, data, function (response) {
                if (response.result == 'Error') {
                    alert("Fail");
                }
                else if (response.result == 'Redirect') {
                    window.location = response.url;
                }
            });
        });

        // assinala esta questao para ser respondida depois
        $('#btnAnswerLater').click(function () {
            var idCortesia = parseInt($('#idCortesia').val());
            var idQuestao = parseInt($(this).data("questao"));

            $.ajax({
                traditional: true,
                type: 'GET',
                url: '/Practice/Practice/ResponderDepois',
                data: { idCortesia: idCortesia, idQuestao: idQuestao },
                success: function (data) {
                    $('#simulado').html(data);
                },
                error: function(request, status, error){
                    alert(error);
                }
            });
        });

        // exibe uma questao que estava assinalada para ser respondida depois
        $('.answer').click(function () {
            // grava tb a questao atual
            var alternativas = [];
            $('.alternativa').each(function () {
                if ($(this).is(':checked')) {
                    alternativas.push(parseInt($(this).val()));
                }
            });

            var idCortesia = parseInt($('#idCortesia').val());
            var idQuestao = parseInt($(this).data('questao'));
            var idQuestaoAtual = parseInt($('#btnNext').data("questao"));

            $.ajax({
                traditional: true,
                type: 'GET',
                url: '/Practice/Practice/ExibirQuestao',
                data: { selecionadas: alternativas, idCortesia: idCortesia, idQuestao: idQuestao, idQuestaoAtual: idQuestaoAtual },
                success: function (data) {
                    $('#simulado').html(data);
                },
                error: function (request, status, error) {
                    alert(error);
                }
            });
        });

    });
</script>